@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Faculty Glyphic", sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    color: #333;
}

p {
    line-height: 1.5;
}

header {
    background-color: #004d80;
    color: #ffffff;
    padding: 1rem;
    text-align: center;
}

header .highlight {
    color: #ffcc33;
}

header h1 {
    font-family: "Sour Gummy", sans-serif;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    background-color: #333;
    padding: 10px 0;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    padding: 0.5rem;
    transition: .2s ease;
}

nav a:hover {
    color: #ffcc33;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    gap: 20px;
    max-width: 1150px;
    margin: auto;
}

.card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.card h2 {
    text-align: center;
    background: #004d80;
    color: #f9f9f9;
    padding: 0.5rem;
    font-family: "Sour Gummy", sans-serif;
}

.about-me {
    flex: 1;
    min-width: 300px;
}

.projects {
    flex: 1;
    min-width: 250px;
}

.projects ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.projects a {
    text-decoration: none;
    color: #004d80;
    font-weight: bold;
    padding: 0.5rem 20px;
    display: block;
    transition: .2s ease;
}

.projects a:hover {
    color: #ffcc33;
}

.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.about-content img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 8px;
    margin-top: 1rem;
}

.country h3 {
    text-align: center;
    text-decoration: underline;
}

.resource {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.resource img {
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 4px;
}

footer {
    background-color: #004d80;
    color: #ffffff;
    text-align: center;
    padding: 1rem;
    font-size: 0.875rem;
}

#lastModified {
    color: #ffcc33;
    font-style: italic;
}

/* Responsive Styles */
@media (min-width: 768px) {
    main {
        padding: 50px;
    }

    .about-content {
        flex-direction: row;
    }

    .about-content img {
        width: 50%;
        height: 50vh;
    }

    .projects {
        width: 35%;
    }

    .projects ul {
        padding: 0 20px;
    }

    nav {
        justify-content: space-around;
    }
}

@media (min-width: 1024px) {
    .about-me {
        width: 60%;
    }

    .projects {
        height: 75vh;
    }

    .projects ul {
        padding: 0;
    }
}
