@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&family=Lobster&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --primary-color: #007a33;
  --secondary-color: #002776;
  --white: #fff;
  --text-color: #333;
  --font-family: "Faculty Glyphic", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: var(--text-color);
  line-height: 1.6;
  background-color: var(--primary-color);
}

header {
  background-color: var(--secondary-color);
  color: white;
  text-align: center;
  padding: 1.5rem 0;
  margin-bottom: 12px;
}

header h1 {
  margin: 0;
  font-family: var(--font-family);
}

.hero {
  position: relative;
  text-align: center;
  margin: 0;
  padding: 0;
}

.hero picture img {
  width: 100%;
  height: auto;
}

.info-box {
  position: absolute;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.3);
  width: 20%;
  display: flex; 
  flex-direction: column;
  justify-content: center; 
}

.data h2{
  background-color: var(--primary-color);
  font-family: var(--font-family);
  margin: 0 0 1rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  margin-left: -26px;
  color: var(--white);
  padding: 0.5em 0.5em 0.5em;
  width: 90%;
  text-align: left;
}

.weather h2 {
  position: relative;
  display: inline-block; 
  margin: 0;
  background-color: var(--primary-color);
  padding-right: 20px; 
  font-family: "Faculty Glyphic", sans-serif;
  margin: 0 0 1rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  margin-left: -26px;
  color: var(--white);
  padding: 0.5em 0.5em 0.5em;
  width: 90%; 
  text-align: left;
}

.weather h2::after {
  content: ""; 
  display: inline-block;
  width: 50px;
  height: 50px;
  background-image: url('/images/SunnyDayV3.svg');
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%; 
  right: 60px;
  transform: translateY(-50%);
}

.data {
  top: 10%;
  left: 6%;
} 

.weather {
  top: 50%;
  right: 8%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column; 
  justify-content: center;
}

li {
  display: flex; 
  align-items: center; 
  margin-bottom: 0.5rem;
}

li strong {
  min-width: 120px; 
  text-align: right; 
  margin-right: 10px; 
}

li span {
  text-align: right;
}

.weather .weather-icon {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.weather .weather-icon img {
  width: 70px;
  height: auto;
}


footer {
  background-color: var(--secondary-color);
  color: var(--white);
  text-align: center;
  padding: 1em;
  font-size: 1em;
}

#lastModified {
  font-style: italic;
}
