@media (min-width: 768px) {
    .header-container {
        justify-content: flex-start;
        gap: 2em;
    }

    #hamburger {
        display: none; 
    }

    @media (min-width: 768px) {
        #nav-menu {
            display: flex; 
            flex-direction: row;
            gap: 1em; 
            position: static; 
            background-color: transparent;
            box-shadow: none;
            width: auto;
            padding: 0;
            margin-left: auto;
        }
    }

    .album-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}
